* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu';
    background-color: #f3f3f3;
    overflow: hidden;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
}

.container-hero {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.welcome-text {
    font-size: 48px;
    margin-bottom: 20px;
}

.btn-start {
    padding: 10px 20px;
    background-color: #a3a3a3;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.btn-start:hover {
    background-color: #0d8f89;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 0;
}

.gallery img, .gallery video {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.customer-support, .container-logo, .container-user {
    display: flex;
    align-items: center;
}

.customer-support i, .container-logo i, .container-user i {
    font-size: 24px;
    margin-right: 10px;
}

.container-navbar {
    background: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.search-form {
    display: flex;
}

.search-form input {
    padding: 5px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.btn-search {
    padding: 5px 10px;
    background: #ff5733;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}